$gap: 4vh;
$padding: 4vh;
$color: #48CAE4;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 45px;
    font-family: sans-serif;
}

$bp : (
    tablet: 768px,
);

.container {
    font-size: 35px;
    display: flex;

    justify-content: center;
    border: 1vh solid #000;
    padding: $padding;

    @include query (tablet) {
        height: 100vh;
        flex-direction: column;
        gap: $gap;
        align-items: center;
    }
}